#render-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#render-container .card {
  height: 15rem;
  width: 11rem;
  /* background-color: blue; */
  border: 1px solid black;
  margin: 1rem 0.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: white;
  /* box-shadow: 0 0 5px 0.5px black; */
  border-radius: 0.2rem;
}

#render-container .card .img-container img {
  border: 1px solid black;
  height: 6rem;
  width: 10rem;
  object-fit: cover;
  margin-top: 0.5rem;
}

#render-container .card h2 {
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
  color: #fc6225;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#render-container .card p {
  height: 3.55rem;
  overflow: hidden;
  width: 10rem;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  font-family: Helvetica, sans-serif;
}

#render-container .card button {
  width: 3rem;
  background-color: #fc6225;
  font-size: 0.6rem;
  padding: 0.25rem;
  margin-top: 0.4rem;
  border: 1px solid black;
  color: white;
}
