#render-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#render-container .card {
  height: 21rem;
  width: 15rem;
  /* background-color: blue; */
  border: 1px solid black;
  margin: 1rem 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#render-container .card .img-container img {
  border: 1px solid black;
  height: 8rem;
  width: 12rem;
  object-fit: cover;
  margin-top: 1rem;
}

#render-container .card h2 {
  margin: 1rem 0 0 0;
}

#render-container .card p {
  height: 4rem;
  overflow: hidden;
  width: 10rem;
}

#render-container .card button {
  width: 6rem;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
}

#card-expand {
  display: none;
  position: fixed;
  height: 90vh;
  width: 90vw;
  background: linear-gradient(
    to bottom right,
    rgb(1, 117, 146),
    rgb(2, 135, 169),
    rgb(2, 149, 185),
    rgb(2, 166, 207),
    rgb(0, 186, 233),
    rgb(2, 166, 207),
    rgb(2, 149, 185),
    rgb(2, 135, 169),
    rgb(1, 117, 146)
  );
  left: 50%;
  transform: translateX(-50%);
  top: 5vh;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  box-shadow: 0 0 20px 1px black;
  border-radius: 0.4rem;
}

#card-expand::-webkit-scrollbar {
  width: 0;
}

#card-expand #close-read-more {
  background-color: blue;
  height: 3rem;
  width: 3rem;
  position: fixed;
  right: 0;
  top: 0;
}

#card-expand #close-read-more button {
  height: 3rem;
  width: 3rem;
}

#card-expand .container1 {
  width: 30rem;
  display: flex;
  justify-content: flex-start;
  height: 80vh;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 1rem;
}

#card-expand .container1 img {
  width: 30rem;
  margin: 2rem 0 1rem 0;
}

#card-expand .container2 {
  width: 30rem;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-grow: 2;
  margin: 0 1rem;
}

#card-expand .container2 h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 0.5rem 0;
  text-align: center;
}

#card-expand .container2 ul {
  width: 30rem;
}

#card-expand .container2 ul li {
  text-align: left;
  /* list-style: none; */
}

#card-expand .container2 ul li p {
  font-size: 1.1rem;
  font-weight: 100;
}

@media screen and (max-width: 1137px) {
  #card-expand .container1 {
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  #card-expand .container1 {
    width: 80vw;
  }

  #card-expand .container1 img {
    width: 80vw;
  }

  #card-expand .container2 {
    width: 80vw;
  }

  #card-expand .container2 ul {
    width: 80vw;
  }
}
